<!-- Modal -->
<div class="modal fade" id="win_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="win_login_title">登陆</h4>
      </div>
      <div class="modal-body">

			  <div class="row">
				  <div class="col-md-2">邮件地址</div>
				  <div class="col-md-8"><input type="email" class="form-control" placeholder="Email"/></div>
				  <div class="col-md-2">&nbsp;</div>
			  </div>
		   	  <div class="row">
		  		<div class="col-md-12">&nbsp;</div>
		  	   </div>
			  <div class="row">
				  <div class="col-md-2">密码</div>
				  <div class="col-md-8"><input type="password" class="form-control" placeholder="Password"/></div>
				  <div class="col-md-2">&nbsp;</div>
			  </div>
		  	  <div class="row">
		  		<div class="col-md-12">&nbsp;</div>
		  	   </div>
			  <div class="row">
				  <div class="col-md-2">验证码</div>
				  <div class="col-md-4"> </div>
				  <div class="col-md-4"><input type="text" class="form-control" placeholder="验证码"/></div>
				  <div class="col-md-2">&nbsp;</div>
			  </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" data-dismiss="modal">登陆</button>
      </div>
    </div>
  </div>
</div>
